// Config
// --------------------------------------------

// Brand colors
$color-pri:            #ed5900; // orange
$color-sec:            #4f4f51; // gray light text
$color-acc:            #ececec; // gray light block

// Generic colors
$color-select:         $color-pri;
$color-register:       #efd314;
$color-register-txt:   $color-pri;

// Links
$color-link:           #3A6F97;
$color-link-hover:     #4c93cb;

// Accent colors
$color-success:        #5cb85c;
$color-warning:        #f0ad4e;
$color-error:          #ee2d31;
$color-info:           #5bc0de;
$color-disabled:       #cccccc;

// Base colors
$color-body-bg:        #fff;
$color-text:           #4f4f51; // gray strong text

// Social Networks
// http://brandcolors.net/

$color-facebook:         #3b5998;   // Facebook blue
$color-twitter:          #55acee;   // Twitter Blue
$color-googleplus:       #dd4b39;   // Google+ Red
$color-youtube:          #bb0000;   // YouTube Red
$color-linkedin:         #007bb6;   // Linkedin Blue
$color-instagram:        #517fa4;   // Instagram Blue
$color-pinterest:        #cb2027;   // Pinterest Red
$color-quora:            #a82400;   // Quora Burgundy
$color-flickr:           #ff0084;   // Flickr Pink
$color-tumblr:           #32506d;   // Tumblr Dark Turquoise
$color-vimeo:            #aad450;   // Vimeo Green
$color-foursquare:       #0072b1;   // Foursquare Logo Blue
